@import '../../_base.scss';


.header {
    display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 1rem 3rem;

   background-color: $black-primary;

   height: 10vh;
   width: 100%;

   position: fixed;
   top: 0;
z-index: 999;

     &__menu {
    display: none;
    }
    &__logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
        display: block;
    }



        &__login{
            display:flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            &-text{
                font-size: 20px;
                margin:20px;
            }
           
        }
        
    
    a{
        &:hover{
            text-decoration: none;
        }
    }
        

    form {
        flex: 0.6;
        display: flex;
        padding: 0.1rem;
        margin: 0 1rem;
        border-radius: 3px;
        border: 0.3px solid;
        border-radius: 11px;
        background-color: $black-secondary;

        input {
            width: 100%;
            border: none;
            font-weight: 500;
            background: transparent;
            padding: 0.3rem;
            color: $text-color;
   
            &:focus {
               outline: none;
            }
         }

         button {
            padding: 0 1.25rem;
            color: $text-color;
            background: transparent;
            border: none;

            &:focus{
                border: none;
            }
         }
    }

    &__icons {
        flex: 0.15;
        display:flex;
        justify-content: space-around;
        align-items: center;

        img{
            width:40px;
            object-fit: contain;
            margin-left: 20px;
        }

        &-name{
            font-size: 13px;
        }
    }



}


@media (max-width: $breakpoint-small) {
    .header {
        width:100vw !important;
        padding: 1.5rem;

        form {
            flex: 1
        }

        &__menu {
            display: block
        }

        &__logo {
            display: none;
        }

        &__icons>*:not(img) {
            display:none;
        }
    }
}