.comments__form{
    img{
        height:50px;
        width: 50px;
        object-fit: contain;

    }

    input {
        border: none;
        background: transparent;
        color: #fff;
        border-bottom: 2px solid #353956;
        &:focus{
            outline: none;
        }
    }

    button {
        letter-spacing: 0.5px;
        background-color: #353956;
        color:#fff;
    }
}