// @import '../../_base.scss';


@media(min-width:520px) {
.homeScreen{
    width: 80vw !important;
    margin-left: 100px !important;
  
    
}
}

@media(min-width:800px) { //bigScreen (medium (800px) --->)
    .homeScreen{
        width: 80vw !important;
        margin-left: 200px !important;
      
        
    }
}
